<div class="wrapper" *ngIf="!authenticationService.isUserLoggedIn">
  <div class="container">
    <div class="col-left">
      <div class="login-text">
        <h2>Login</h2>
      </div>
    </div>
    <div class="col-right">
      <div class="login-form">
        <form [formGroup]="loginForm" ngNativeValidate (submit)="login()">
          <p>
            <label>Email<span>*</span></label>
            <input class="email" type="email" formControlName="email" required>
          </p>
          <p>
            <label>Password<span>*</span></label>
            <input class="password" type="password" formControlName="password" required>
          </p>
          <p>
            <input type="submit" value="Login" />
          </p>
        </form>
      </div>
    </div>
  </div>
</div>


<button mat-menu-item (click)="authenticationService.logout()">
  <span>Logout</span>
</button>
